
<!DOCTYPE html>
<html>
<head>
	<title>Vivamos.nu</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/index.css">


	<script type="text/javascript">
	function popUp(page) {
		props=window.open(page,'poppage','toolbars=0, scrollbars=0, location=0, statusbars=0, menubars=0, resizable=0, width=200, height=300 left = 100, top = 100');
		}
	}
	</script>


</head>
<body>
	<div id="content">
		<div id="head" class="margined">
			<div>
				<h1 class="header_line"><a href="/" class="no_decor"><i>Vivamos</i></a></h1>
			</div>

				<% 	top_links = [
						"Specialresor",
						"Latindans",
					] %>

			<div id="top_menu">
				<ul id="top_menu_links" class="links in_line">
					<% top_links.each do |object| %>
					<% if object.downcase == @test %>
					<% make_link = "active_link" %>
					<% else make_link = "non_link" %>
					<% end %>
					<li><a href="/<%=object.downcase%>" id="<%=object%>" class="<%=make_link%>"><%= object%></a></li>
					<% end %>
				</ul>
			</div>
		</div>

		<div id="main_content_holder" class="margined">
		<div id="sidebar" class="margined">
			
		</div>
			<%= yield %>
		</div>
		<div id="bottom_menu" class="margined">
			<center>

			<% lista = ["Om oss", "Konsumentvägledning", "Teknisk konsultverksamhet", "Kontakt"] %>

				<ul class="links in_line ">

					<% lista.each do |object| %>
					<li> <a href="<%=object.downcase.gsub(" ", "_")%>"><%= object %></a> </li>
					<% end %>

				</ul>
			</center>
		</div>
	</div>
</body>
</html>