<div id="main" class="margined active_specialresor">

	<% @paragraph.each do |line| %>
		<p class="main_text <%= @cool_text %>"><%= line %></p>
	<% end %>
	<center>
		<% if @param != false and File.basename(@bilder[0]) != "false" %>
		<p>
			<img src="/bilder/<%= @param %>/<%=File.basename(@bilder[0])%>">
		</p>
		<% end %>
	</center>
	<p class="main_text">
		<% if @param != false and File.basename(@bilder[0]) != "false" %>
		<noscript> <a href="/bilder/<%=@param%>" target="_BLANK">Mer bilder</a> </noscript>
		<a href="javascript:popUp('/bilder/<%= @param %>')" id="scriptedlink"></a>
		<% end %>
	</p>
</div>